body {
    display: flex;
    flex-direction: row;
    background-color: seashell;
}

input {
    all: unset;
}

div {
    padding: 8px;
}

.left-pic {
    width: 800px;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: centre;
    background-size: cover;
    height: 800px;
}

.right {
    width: 1200px;
    height: 800px;
}

.above {
    height: 180px;
}

.form {
    height: 300px;
    background-color: blanchedalmond;
}

.first-row div,
.second-row div,
.third-row div {
    display: flex;
    flex-direction: column;
}

h3 {
    padding: 0px;
    margin: 8px;
}

.first-row,
.second-row,
.third-row {
    display: flex;
}

p {
    padding: 8px;
}

.banner {
    background-color: black;
    opacity: 0.6;
    height: 90px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

img {
    height: 80px;
}

button {
    padding: 8px 36px;
    background-color: #596D48;
    border-radius: 10px;
    color: azure;
    border: 0px;
}

input {
    width: 160px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 5px;
    height: 22px;
}

input:focus {
    border: 1px solid blue;
}

input:invalid {
    border: 1px solid lightcoral;
}


@font-face {
    font-family: 'norse';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    
    font-weight: normal;
    font-style: normal;
}

span {
    color: white;
    font-size: 60px;
    font-family: norse, serif;
}



@media screen and (max-width: 600px) {
    .left-pic {
        width: 0px;
    }
}